---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- sticky at the top -->
		<div class="sticky top-0">
			<Header />
		</div>
			<!-- Layout: center and padding on side -->
		<main class="mx-auto max-w-3xl px-5">
			<article>
				<slot />
			</article>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
